/* Body styles */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f0f0f0; /* White-ish background */
    color: #000; /* Black-ish text */
    margin: 0;
    padding: 20px;
}

/* Title styles */
.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    color: #000; /* Black */
}

/* Form styles */
.todo-form {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.todo-input {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
    border: 1px solid #00FF00; /* Neon green border */
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #fff; /* White background */
    color: #000; /* Black text */
}

.add-button {
    padding: 10px 20px;
    background-color: #00FF00; /* Neon green */
    color: #000; /* Black text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* List styles */
.todo-list {
    list-style-type: none;
    padding: 0;
}

.todo-item {
    margin-bottom: 10px;
}

/* Label and checkbox styles */
.todo-label {
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
}

.todo-checkbox {
    margin-right: 10px;
}

.completed-todo {
    text-decoration: line-through;
}

/* Delete button styles */
.delete-button {
    padding: 5px 10px;
    background-color: #FF0000; /* Red */
    color: #000; /* Black text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
}

/* Trash icon styles */
.delete-button i {
    /* Adjust the size and color of the trash icon */
    font-size: 18px;
    color: #000; /* Black */
}

/* New styles */
.category-filter {
    margin-bottom: 20px;
    text-align: center;
}

.category-button {
    padding: 10px 20px;
    background-color: #FF00FF; /* Neon pink */
    color: #000; /* Black text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.category-link {
    color: #000; /* Black text */
    text-decoration: none;
}
