<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Em's To-Do App</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<h1 class="title">Em's To-Do App</h1>

<!-- Category filter buttons -->
<div class="category-filter">
    <a th:href="@{/todos}" class="category-button">All</a>
    <a th:each="category : ${categories}" th:href="@{/todos(category=${category})}" class="category-button" th:text="${category}"></a>
</div>

<form class="todo-form" th:action="@{/addTodo}" method="post">
    <input type="text" name="content" placeholder="Enter todo" class="todo-input" required>
    <input type="text" name="category" placeholder="Category" class="category-input">
    <button type="submit" class="add-button">Add Todo</button>
</form>

<form th:action="@{/completeTodo}" method="post">
    <ul class="todo-list">
        <li th:each="todo : ${todos}" class="todo-item">
            <input type="checkbox" th:id="'todo_' + ${todo.id}" th:name="'todo_id'" th:value="${todo.id}"
                   class="todo-checkbox" onchange="this.form.submit()">
            <label th:for="'todo_' + ${todo.id}" th:classappend="${todo.completed} ? 'completed-todo' : ''"
                   th:text="${todo.content}" class="todo-label"></label>


            <form th:action="@{/todos(category=${todo.category})}" method="get" style="display: inline;">
                <button type="submit" class="category-button" th:text="${todo.category}"></button>
            </form>

<!--            <div class="user-details">
                <a th:href="@{'/user/' + ${userService.findUserById(post.userId).username}}">
                    @<span th:text="${userService.findUserById(post.userId).username}"></span>
                </a>
            </div>-->


            <form th:action="@{/deleteTodo}" method="post" style="display: inline;">
                <input type="hidden" name="id" th:value="${todo.id}">
                <button type="submit" class="delete-button"><i class="fas fa-trash"></i></button>
            </form>
        </li>
    </ul>
</form>
</body>
</html>
